<div class="card my-2 text-center">
    <div class="card-body p-3 mx-auto">
        <div class="card-title h4">{{@title}}</div>
        <div class="card-text"><p>Lorem ipsum dolor sit, amet adipisicing elit. Harum fugiat corrupti
            animi vel. Consequatur est dolorum ea aliquid.</p>
            <LinkTo @route="{{@routename}}"><button type="button" class="btn btn-info">Know more</button></LinkTo>
        </div>
    </div>
</div>