<div class="large-view">
    <span class="h3">List of Contents</span>
    <nav>
        <ul>
            <li><LinkTo @route="getting-started">Getting Started</LinkTo></li>
            <li><LinkTo @route="tutorial">Tutorial</LinkTo></li>
            <li><LinkTo @route="concept1">Concept 1</LinkTo></li>
            <li><LinkTo @route="concept2">Concept 2</LinkTo></li>
            <li><LinkTo @route="concept3">Concept 3</LinkTo></li>
            <li><LinkTo @route="summary">Summary</LinkTo></li>
        </ul>
    </nav> 
</div>
    
