<nav class="navbar navbar-expand-lg navbar-light bg-info constant-width">
    <div class="container-xl">
        <div>
            <img src="../assets/images/pic1.jpg" alt="" style="width: 50px; height: 55px; border-radius: 50%;">
        </div>
        <a class="navbar-brand pl-3 mr-auto" href="../">
            <div class="h2 mb-0">Aroville</div>
            <small>Hope you will enjoy it!</small>
        </a>
    </div>
</nav>