{{page-title "Tutorial"}}

<div class="h1 mb-4">Tutorial</div>

{{#each @model as |tutorial|}}
    <div class="h3">{{tutorial.contentTitle}}</div>
    <p>{{tutorial.contentText}}</p>
{{/each}}

{{!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque dolorem, adipisci ipsam maiores. 
    Et minima ipsam quod aut accusantium perferendis, pariatur minus magnam molestiae.</p>
<div class="h3">Step 1:</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur temporibus earum nihil quibusdam. 
    Hic aut nemo enim magni iusto saepe reprehenderit quos sunt voluptatum, ducimus cupiditate. Corporis 
    nihil laborum porro. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, explicabo mollitia 
    laudantium eos dolorem quas id blanditiis consectetur animi. Necessitatibus obcaecati assumenda 
    remin utering itrster gituil oewlqn quisquam quia quam blanditiis eius molestias tempore at!</p>

<div class="h3">Step 2:</div>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo vel fuga consequatur earum, et 
    architecto dolore in culpa repellendus beatae tempora temporibus non accusantium dolorem 
    lorem ispium regert hitting helpind looping through placeat facere illum fugiat! Quia!</p>

<div class="h3">Step 3:</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, consectetur. Maiores 
    necessitatibus, quae voluptatibus ex nisi recusandae aspernatur nam at consequuntur esse fuga 
    lerork leoir oioe dfjdkf soft rekwbd labore ut laborum distinctio aperiam eum assumenda?</p>

<div class="h3">Step 4:</div>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat officiis atque laudantium at 
    laborum corrupti exercitationem quae repudiandae hic praesentium odio itaque qui Lorem ipsum 
    dolor sit amet consectetur adipisicing elit. Tempora, laboriosam quasi iste quibusdam corporis 
    nam maiores ea esse eos quae quisquam nostrum aspernatur similique corrupti dolores temporibus 
    explicabo incidunt cumque? quam numquam, minima incidunt quibusdam nam. Corporis?</p>

<div class="h3">Step 5:</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ipsam explicabo eligendi 
    nisi a? Quo deserunt facere, modi nobis accusantium expedita quaerat, voluptatibus, adipisci 
    hidsti updrette fdslnjfs rejecting wroker warhic distinctio earum praesentium maiores eos!Lorem</p> --}}